<ion-card class="card-centered-limited-width ">
    <ion-card-content>
        <form [formGroup]="forgotPwForm"
              *ngIf="!sentPasswordResetEmail">
            <ion-list>
                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="(!formControl.email.valid && formControl.email.touched)
                          || formControl.email.hasError('notRegistered')">
                    <ion-label floating>{{"login-card.labels.email" | translate}}</ion-label>
                    <ion-icon item-left name="mail" class="floating-label-icon" color="primary"></ion-icon>
                    <ion-input type="email"
                               [formControl]="formControl.email"
                               [(ngModel)]="email" ></ion-input>
                </ion-item>
                <div *ngIf="(formControl.email.hasError('required')
                        || formControl.email.hasError('invalidEmail')) && formControl.email.touched"
                     class="icon-error-box">
                    {{"login-card.errors.invalidEmail" | translate}}
                </div>
                <div *ngIf="formControl.email.hasError('notRegistered')"
                     class="icon-error-box">
                    {{"login-card.errors.notRegistered" | translate}}
                </div>
                <div padding></div>
            </ion-list>

            <button ion-button block icon-right
                    [disabled]="!forgotPwForm.valid"
                    (click)="emailPasswordResetCode()">
                {{"forgot-password-card.sendEmail" | translate}}
                <ion-icon name="paper-plane"></ion-icon>
            </button>
        </form>

        <button ion-button icon-right clear block
                (click)="showSignInCard()">
            {{"page-login.signIn" | translate}}
            <ion-icon name="log-in"></ion-icon>
        </button>
    </ion-card-content>
</ion-card>