<ion-card class="card-centered-limited-width ">
    <ion-card-header>
        {{"welcome-header.welcome" | translate}}
    </ion-card-header>
    <ion-card-content>
        <p>{{"welcome-header.description" | translate}}</p>
        <p>{{"welcome-header.followIonicTutorial" | translate}}</p>
    </ion-card-content>
</ion-card>