// http://ionicframework.com/docs/v2/theming/

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.

// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.
$dft-lt-blue: #3698d3;

$colors: (
        primary: #ad48e7,
        secondary: #32db64,
        danger: #f53d3d,
        light: #f4f4f4,
        dark: #222,
        favorite: #69BB7B,
        white: white,
        google: #dd4b39,
        facebook: #3b5998,
        passprint: $dft-lt-blue
);

$background-color: #c0c0c0;