@each $color in $colors {
  [background-color="#{nth($color, 1)}"] {
    background-color: #{nth($color, 2)};
  }
}

ion-card.card.card-centered-limited-width {
  max-width: 500px;
  margin: 16px auto 16px;
}

/*Center image in thumbnail*/
ion-thumbnail {
  position: relative;
}

ion-thumbnail img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}
/*End*/